*{
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page{
    display: flex;
    flex: 1;
}

body{
    display: flex;
    flex-direction: column;
}

html,
body{
    height: 100%;
}

.sidebar{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: red;
    padding: 5px;
}

.content{
    flex: 1;
    background-color: blue;
}

.new-project{
    display: none;
}

.new-project-revealed{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}