*{
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page{
    display: flex;
    flex: 1;
}

body{
    display: flex;
    flex-direction: column;
}

html,
body{
    height: 100%;
}

.sidebar{
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: red;
    padding: 20px 5px;
}

.content{
    flex: 1;
    background-color: blue;
    padding: 20px;
}

.new-project{
    display: none;
}

.new-project-revealed{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.hidden-form{
    display: none;
}

.revealed-form{
    display: flex;
    align-items: center;
    gap: 5px;
}

#project-title{
    margin-right: 50px;
}

#new-task-button{
    margin-right: auto;
}

.todo-header{
    display: flex;
    align-items: center;
}